/* Your board style here */

.racer_table {
  margin: 0;
  width: 100%;
}

td {
  background-size: 100px;
  background-position: 0 20px;
  background-repeat: no-repeat;
}

#player1_race td {
  height: 80px;
  width: 80px;
  border: 1px solid whitesmoke;
}

#player1_race td.active {
  background-image: url('images/player_1.png');
  background-position: center;
}



#player2_race td {
  height: 80px;
  width: 80px;
  border: 1px solid whitesmoke;
}

#player2_race td.active {
  background-image: url('images/player_2.png');
  background-position: center;
}

td:last-child {
  background-image: url(images/finish.jpeg);
  background-position: 0 0;
}

td:last-child.active {
  background-position: 0 20px, 0 0;
}

tr#player1_race td:last-child.active {
  background-image: url(images/player_1.png), url('images/finish.jpeg');
}




/*<img class= "finish-img" src="images/finish.jpeg">*/

